Will need to copy and paste the 2nd box and change AU0101 to AU0103 etc
Some of the text files have a dashed line on the end and will get an error saying len does not match index length. Just go in the text file and remove said dashed line

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [11]:
#Will need to run this for all others by changing AU0101 to the others
AU0101 = pd.read_csv('AU0101.txt', skiprows=145, sep='\s+', names=['hour', 'sza', 'jo1d', 'jno2', 'jhono', 'jhno3', 'jclno2'])

AU0101 = AU0101.drop(columns=['jo1d' , 'jhono', 'jhno3', 'jclno2'])

jan_1 = ('01012020')

AU0101['Date'] = jan_1

hour_new = ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23',]

AU0101['hour_new'] = hour_new 

AU0101['Date'] = AU0101['Date'] + AU0101['hour_new']

AU0101 = AU0101.drop('hour', 1)

AU0101 = AU0101.drop('hour_new', 1)

AU0101['Date'] = pd.to_datetime(AU0101['Date'], format='%d%m%Y%H')

AU0101.head()

       sza  jno2                Date
0  147.132   0.0 2020-01-01 00:00:00
1  146.273   0.0 2020-01-01 01:00:00
2  142.081   0.0 2020-01-01 02:00:00
3  135.593   0.0 2020-01-01 03:00:00
4  127.828   0.0 2020-01-01 04:00:00

In [12]:

AU0102 = pd.read_csv('AU0102.txt', skiprows=145, sep='\s+', names=['hour', 'sza', 'jo1d', 'jno2', 'jhono', 'jhno3', 'jclno2'])

AU0102 = AU0102.drop(columns=['jo1d' , 'jhono', 'jhno3', 'jclno2'])

jan_2 = ('01022020')

AU0102['Date'] = jan_2

hour_new = ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']

AU0102['hour_new'] = hour_new 

AU0102['Date'] = AU0102['Date'] + AU0102['hour_new']

AU0102 = AU0102.drop('hour', 1)

AU0102 = AU0102.drop('hour_new', 1)

AU0102['Date'] = pd.to_datetime(AU0102['Date'], format='%d%m%Y%H')

AU0102.head()

       sza  jno2                Date
0  147.044   0.0 2020-02-01 00:00:00
1  146.215   0.0 2020-02-01 01:00:00
2  142.050   0.0 2020-02-01 02:00:00
3  135.581   0.0 2020-02-01 03:00:00
4  127.826   0.0 2020-02-01 04:00:00

In [17]:
#df = [AU0101, AU0102 , etc, etc]
df = AU0101.append(AU0102, ignore_index=True)
# df = df.append(AU0103, ignore_index=True)
# df = df.append(AU0104, ignore_index=True)
# df = df.append(AU0105, ignore_index=True)
#etc
df.info()
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 3 columns):
sza     48 non-null float64
jno2    48 non-null float64
Date    48 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.2 KB

        sza  jno2                Date
43  114.754   0.0 2020-02-01 19:00:00
44  123.162   0.0 2020-02-01 20:00:00
45  131.298   0.0 2020-02-01 21:00:00
46  138.583   0.0 2020-02-01 22:00:00
47  144.164   0.0 2020-02-01 23:00:00